*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body {
    background-color: rgb(205, 233, 242);
} */
header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    background: linear-gradient(to right, #0099cc 6%, #00cc99 115%);
}

header h1 {
    color: lightcyan;
}

.fa-cocktail {
    display: inline-block;
    transform: rotate(-11deg);
}
main {
    margin-top: 15px;
}
nav ul {
    top: 17px;
    font-size: 20px;
}

img {
    width: 200px;
    position: relative;
    bottom: 20px;
}

#drink-name-recipe {
    position: relative;
    bottom: 10px;
}

#drink-name-recipe ul{
    list-style: none;
    font-size: 80%;
}

.error-handling{
    color: red;
    font-style: italic;
}

footer {
    background: linear-gradient(to right, #0099cc 6%, #00cc99 115%);
    color: lightblue;
}

#drink-name-button,
#non-alcoholic-button,
#drink-ingredient-buttom {
    background-color: rgb(51, 173, 213);
    color: lightgoldenrodyellow;
}

#drink-ingredient-buttom:hover,
#non-alcoholic-button:hover,
#drink-name-button:hover {
    background: linear-gradient(to bottom left, #0099cc 6%, #00ff99 115%);
    color: white;
}


#drink-name-image,
#ingredient-image,
#non-alcoholic-image {
    border: 1px;
    background-color: #fbf8f8;

}

#drink-name-recipe,
#ingredient-recipe, 
#non-alcoholic-recipe{
    border: 1px;
    background-color: #fbf8f8;
    
}

#drink-name-submission,
#ingredient-submission,
#non-alcoholic-search-bar {
    background-color: #fdfdf1;
}

#name-submit-container,
.drink-name-results,
.ingredients-form, 
.ingredients-results,
.non-alcoholic-form,
.non-alcoholic-results {
    background-color: #fbf8f8;
}
