*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

nav ul {
    top: 17px;
    font-size: 20px;
}

img {
    width: 160px;
}

#drink-name-recipe ul{
    list-style: none;
    font-size: 10px;
}

.error-handling{
    color: red;
    font-style: italic;
}
